@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dfdede;
}
.artwork_details{
    line-height: 3;
    margin-left:15%;
    margin-top:5%;
    border-collapse: collapse
}
.artwork_details tr td{
    padding:20px 20px 20px 20px;
}
tr:nth-child(odd) {
    background-color: #b7b7b7; /* Set background color for odd rows */
}
.btn1 {
    background-color: #dc1406;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    margin-left:20px;
}
.btn2 {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

.btn1:hover,
.btn2:hover {
    background-color: #c2c0c0;
    color: #000000;
    cursor: pointer;
}
