@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{

margin:0;
padding:0;
background-image: url("../images/blue2.jpeg");
min-height:100vh ;
display:flex;
align-items: center; 
justify-content: center;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}

.termpart{
  max-width: 400px;
  background-color:rgb(53, 50, 50);
  color:white;
  font-family: 'Times New Roman', Times, serif;
  padding: 60px 30px;
}


.termcontent{
  padding:0 20px;
  height:400px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500px;
  color:white;


}

.termpart h4 span{

    color: red;
}

.button{

    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.btn{

 height:50px;
 width:calc(50% - 6px);
 border:0;
 font-size: 19px;
 font-weight: 500;
 color: white;

}

.redbtn{

    background-color: red;
}

.blackbtn{

    background-color:black;
}

